[Unit]
Description=Virtual Network designer GUI Clay
After=network.target

[Service]
WorkingDirectory=/opt/qb0C80aE/clay/
ExecStart=/opt/qb0C80aE/clay/clay
EnvironmentFile=/etc/sysconfig/clay

[Install]
WantedBy=multi-user.target
